html {
    background-image: linear-gradient(rgb(239, 245, 189), rgb(2, 28, 66));
}

.center {
    float: left;
    width:  600px;
    height: auto;
    object-fit: contain;
    margin-right: 200px;
    margin-left: 650px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: black;
    border-style: dashed;
}